.pageContainer{
  display: flex;
}
.asideBar{
  background-color: #2B2F3E;
  width: 200px;
  height: 100vb;
 text-align: center;
 padding: 20px;
}
.logo{
  color: #ffff;
  font-size: 30px;
  padding-bottom: 10px;
}
.slogan{
  color: #5B5D63;
  font-size: 20px;
}
.mainPage{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}